@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide iOS Safari play button on low power mode */
video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
